/* COPYRIGHT 2018-2019 Gabriel Lasaro, Todos os direitos reservados. */
.home #profile{
    /* position: relative; */
    display: flex;
    width:160px;
    margin: 40px auto;
    border-radius:100%;
    border: 1px solid #303030;
}
.home h1{
    text-align: center;
    margin: auto;
    color:#303030;
}
.home h4{
    text-align: center;
    margin: auto;
    color:#303030;
    padding: 18px 0px 0px 0px;
}
.home h4 a{
    color:#303030;
}
.home h4 a:hover{
    text-decoration: underline;
}
/* FIM: HOME */
/* MENU */
.menu-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'home home' 'github gitlib' 'right right';
    padding: 20px;
    margin-top:20px;
    /* background: #999; */
}
.menu-grid div{
    background: #fff;
    /* border:1px solid #000; */
}
.menu-grid div a{
    display: block;
    text-align: center;
    text-decoration: none;
    color:#fff;
    padding: 16px;
    background:#303030;
    border-radius: 4px;
    transition-duration: 60ms;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.menu-grid div a:hover{
    color:#fff;
    background:#3689e6;
}
.menu-grid .i1{
    grid-area:home;
}
.menu-grid .i2{
    grid-area:github;
}
.menu-grid .i3{
    grid-area:gitlib;
}
.menu-grid .i4{
    grid-area:left;
}
.menu-grid .i5{
    grid-area:right;
}
/* FIM: MENU */
/* CONTENT */
.content-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'coin' 'copy';
    padding: 20px;
    /* background: #ff0; */
}
.content-grid div{
    /* background: rgb(238, 235, 235); */
    border-radius:4px;
}
.content-grid .bitcoin{
    grid-area:coin;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
}
.content-grid .copy{
    grid-area:copy;
    padding:4px;
}
.content-grid .copy p{
    text-align: center;
    font-size:14px;
    padding:4px;
}
/* FIM: CONTENT */