/* COPYRIGHT 2018-2019 Gabriel Lasaro */
.content-title{
    margin-top:160px;
}
.content-title h1{
    text-align: center;
    font-size:100px;
    color:#303030;
}
/* CONTENT */
@media only screen and (max-width: 560px) {
    .content-title h1{
        font-size:46px;
    }
    .content-grid{
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 'tcoin' 'bitcoin' 'coin' 'tproj' 'arquea' 'fastguer' 'title-about' 'about-me' 'copy';
        padding: 20px;
        margin-top:30px;
    }
}
@media only screen and (min-width: 560px) {
    .content-grid{
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 'tcoin tcoin' 'bitcoin coin' 'tproj tproj' 'arquea fastguer' 'title-about title-about' 'about-me about-me' 'copy copy';
        padding: 20px;
        margin-top:60px;
    }
}
.content-grid div{
    border-radius:3px;
}
.content-grid div .m40{
    margin-top:40px;
}
.content-grid div #more{
    display: block;
    color:#fff;
    text-align: right;
    margin-top:5px;
    text-decoration: none;
}
.content-grid div #more:hover{
    text-decoration: underline;
}
.content-grid div code{
    display: block;
    background: #303030;
    color:#fff;
    padding:18px;
    margin:20px 0px 20px 0px;
    border-radius: 3px;
}
.content-grid div h3{
    text-align: left;
    color:#303030;
    font-weight:bold;
    font-size: 22px;
    margin: 0px;
}
.content-grid div p{
    text-align: left;
    color:#303030;
    margin: 20px 0px 20px 0px;
}
.content-grid .tcoin{
    grid-area:tcoin;
}
.content-grid .tproj{
    grid-area:tproj;
}
.content-grid .btc{
    grid-area:bitcoin;
    padding:20px;
    background: #ffc27d;
}
.content-grid .eth{
    grid-area:coin;
    padding:20px;
    background: #cd9ef7;
}
.content-grid .coin .coin-title{
    margin:0px;
    font-size:18px;
    font-weight: 100;
    color:#fff;
}
.coin-price{
    font-size:28px;
    font-weight: bold;
    margin:0px;
}
.coin-price #other {
    font-size:18px;
}
.content-grid .arquea{
    grid-area:arquea;
    padding: 20px;
    background:#9bdb4d;
}
.content-grid .fastguer{
    grid-area:fastguer;
    padding: 20px;
    background:#ed5353;
}
.content-grid .title-about{
    grid-area:title-about;
}
.content-grid .about-me{
    grid-area:about-me;
    /* background:#8cd5ff; */
}
.content-grid .about-me img{
    float:left;
    width:34%;
    border-radius: 10px;
    margin:2% 1% 2% 2%;
    padding:0px;
}
.content-grid .about-me div{
    float:right;
    width: 60%;
    margin:2% 2% 2% 1%;
}
.content-grid .about-me p{
    font-size: 18px;
    color:#303030;
    margin:3px 0px 5px 15px;
}
.content-grid .about-me a{
    color:#303030;
    text-decoration: none;
}
.content-grid .about-me a:hover{
    text-decoration: underline;
}
.content-grid .about-me .title{
    font-size:38px;
    font-weight: bold;
    margin: 15px 0px 13px 0px;
}
@media only screen and (max-width: 560px) {
    .content-grid .about-me p{
        font-size: 14px;
        margin: 2px 0px 4px 10px;
    }
    .content-grid .about-me .title{
        font-size: 26px;
        margin: 8px 0px 10px 0px;
    }
}
.content-grid .copy{
    grid-area:copy;
    padding:4px;
    margin:60px 0px 20px 0px;
}
.content-grid .copy p{
    text-align: center;
    color:#303030;
    font-size:14px;
    padding:4px;
    margin:0px;
}
/* FIM: CONTENT */